NODE_ENV=development
PORT=3000
JWT_ACCESS_SECRET=changeme
REDIS_URL=redis://127.0.0.1:6380
AUTH_SERVICE_URL=http://127.0.0.1:4001
INVENTORY_SERVICE_URL=http://127.0.0.1:4002
ORDERS_SERVICE_URL=http://127.0.0.1:4003
NOTIFICATIONS_SERVICE_URL=http://127.0.0.1:4004
INTERNAL_SERVICE_SECRET=changeme
