NODE_ENV=development
PORT=4003
DATABASE_URL=postgresql://orderflow:orderflow_dev@127.0.0.1:5433/orders_db
REDIS_URL=redis://127.0.0.1:6380
RABBITMQ_URL=amqp://guest:guest@127.0.0.1:5672
INVENTORY_SERVICE_URL=http://127.0.0.1:4002
INTERNAL_SERVICE_SECRET=changeme
